* {
  transition: all .2s; }

@media screen and (min-width: 320px) {
  .opportunitys {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("/build/images/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; } }

@media screen and (min-width: 480px) {
  .opportunitys {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;
    height: 85rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("/build/images/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; }
    .opportunitys__container .descripsion {
      width: 100%;
      font-size: 42px;
      line-height: 57px;
      margin: 2.3rem 0rem 1.3rem; }
    .opportunitys__container .discripsion__long {
      margin-top: 2.8rem; }
      .opportunitys__container .discripsion__long__img-created {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 7px; }
      .opportunitys__container .discripsion__long__img-incred {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 7px; }
      .opportunitys__container .discripsion__long__img-expr {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 24px; }
      .opportunitys__container .discripsion__long__img-created2 {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 16px; }
      .opportunitys__container .discripsion__long__text {
        text-align: left;
        margin: 0px 20px 0px 150px; }
        .opportunitys__container .discripsion__long__text-m {
          margin-top: 0px; }
        .opportunitys__container .discripsion__long__text-s {
          line-height: 22px; }
    .opportunitys__container-editor {
      background-image: url("/build/images/editor%20(1).svg");
      background-size: contain;
      height: 32.4rem;
      margin-top: 2.2rem; } }

@media screen and (min-width: 768px) {
  .opportunitys {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;
    height: 78.7rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("/build/images/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; }
    .opportunitys__container .descripsion {
      width: 100%;
      font-size: 42px;
      line-height: 57px;
      margin: 2.3rem 0rem 1.3rem;
      margin: 2.9rem 0rem 0.1rem; }
    .opportunitys__container .discripsion__long {
      margin-top: 3.2rem; }
      .opportunitys__container .discripsion__long__img-created {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 0.7rem; }
      .opportunitys__container .discripsion__long__img-incred {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 0.7rem; }
      .opportunitys__container .discripsion__long__img-expr {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 1.75rem; }
      .opportunitys__container .discripsion__long__img-created2 {
        padding: 0px 10px;
        float: left;
        display: inline-block;
        margin-left: 1.25rem; }
      .opportunitys__container .discripsion__long__text {
        text-align: left;
        margin: 0rem 1.55rem 0rem 10rem; }
        .opportunitys__container .discripsion__long__text-m {
          margin-top: 0rem; }
        .opportunitys__container .discripsion__long__text-s {
          font-family: "Montserrat";
          font-weight: 400;
          line-height: 22px; }
    .opportunitys__container-editor {
      background-image: url("/build/images/editor%20(2).svg");
      height: 32.4rem;
      margin-top: 2.9rem; } }

@media screen and (min-width: 1200px) {
  .opportunitys {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 95.6rem;
    height: 44.4rem; }
    .opportunitys__container .descripsion {
      font-family: "Montserrat";
      text-align: center;
      color: #8d81ac;
      font-size: 32px;
      font-weight: 700;
      margin-top: 1.9rem; }
    .opportunitys__container .discripsion__long {
      margin: 1.9rem 10px 0px 10px;
      text-align: center; }
      .opportunitys__container .discripsion__long__text-m {
        font-family: "Montserrat";
        font-size: 16px;
        color: #323232;
        margin-top: 1.6rem;
        margin-bottom: 0.8rem; }
      .opportunitys__container .discripsion__long__text-s {
        font-family: "Lato";
        font-size: 14px;
        color: #848e97;
        line-height: 21px; }
    .opportunitys__container-editor {
      background-image: url("/build/images/editor.svg");
      background-position: right;
      background-repeat: no-repeat;
      background-size: contain;
      width: 100vw;
      height: 23rem;
      margin-top: 4rem; }
    .opportunitys__container {
      padding-top: 3.5rem;
      align-items: flex-start;
      width: 1200px;
      position: relative; }
      .opportunitys__container .descripsion {
        width: 100%;
        font-size: 42px;
        line-height: 57px;
        margin: 2.3rem 0rem 1.3rem;
        width: 45%;
        position: absolute;
        right: 0px;
        margin: 0rem 0rem 0.1rem;
        line-height: 65px; }
      .opportunitys__container .discripsion__long {
        width: 45%;
        margin-top: 1.7rem; }
        .opportunitys__container .discripsion__long__img-created {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 71px; }
        .opportunitys__container .discripsion__long__img-incred {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 71px; }
        .opportunitys__container .discripsion__long__img-expr {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 88px; }
        .opportunitys__container .discripsion__long__img-created2 {
          padding: 0px 10px;
          float: left;
          display: inline-block;
          margin-left: 80px; }
        .opportunitys__container .discripsion__long__text {
          text-align: left;
          margin: 0px 0px 0px 215px;
          width: 22.8rem; }
          .opportunitys__container .discripsion__long__text-m {
            margin: 0px 0px 0.6rem; }
      .opportunitys__container-editor {
        background-image: url("/build/images/editor%20(2).svg");
        height: 32.4rem;
        width: 45%;
        margin-top: 4.7rem;
        position: absolute;
        top: 0px;
        right: 0px; } }

.logo__subscribe {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  border-style: none; }

@media screen and (min-width: 320px) {
  .subscribe {
    max-width: 1200px;
    height: 50.7rem;
    background-color: white; }
    .subscribe .hide_man {
      display: none; }
    .subscribe .about__men {
      margin-bottom: 60px; }
    .subscribe__container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0px 10px;
      font-family: "Montserrat", sans-serif; }
      .subscribe__container * {
        margin: 0px; }
      .subscribe__container .block__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .subscribe__container .block__buttons .button__count {
          display: flex;
          flex-direction: column;
          text-align: center; }
          .subscribe__container .block__buttons .button__count .button__git {
            margin: 0px 20px;
            background-color: #f3f3f3;
            color: #000000; }
            .subscribe__container .block__buttons .button__count .button__git-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__git-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__git:hover {
            background-color: #2b414d;
            color: #f3f3f3; }
          .subscribe__container .block__buttons .button__count .button__twitter {
            margin: 0px 20px;
            background-color: #26a6d1;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__twitter-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__twitter-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__twitter:hover {
            background-color: #ffffff;
            color: #26a6d1;
            border: 1px solid #26a6d1; }
          .subscribe__container .block__buttons .button__count .button__facebook {
            margin: 0px 20px;
            background-color: #3b5998;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__facebook-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__facebook-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__facebook:hover {
            margin: 0px 20px;
            background-color: #ffffff;
            color: #3b5998;
            border: 1px solid #3b5998; }
          .subscribe__container .block__buttons .button__count-people {
            font-family: "Montserrat";
            color: #848e97;
            font-size: 14px;
            margin: 18px 0px 28px; }
    .subscribe .carousel {
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat", sans-serif; }
      .subscribe .carousel .user__data {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        align-items: center;
        margin: 64px 0px 20px; }
        .subscribe .carousel .user__data__person {
          width: 87px;
          height: 87px;
          border-radius: 50%;
          border: 1px solid red;
          margin-bottom: 1.2rem; }
        .subscribe .carousel .user__data__full__person-name {
          font-family: "Montserrat";
          font-size: 24px;
          font-weight: 700;
          color: #474747;
          margin-bottom: 12px; }
        .subscribe .carousel .user__data__full__nickName {
          font-family: "Montserrat";
          font-size: 16px;
          color: #8d81ac; }
      .subscribe .carousel__describe {
        display: flex;
        align-items: baseline; }
        .subscribe .carousel__describe__about {
          color: #333333;
          font-family: "Lato";
          font-size: 17px; }
          .subscribe .carousel__describe__about-mail {
            color: #8d81ac; }
        .subscribe .carousel__describe__arrows-left {
          color: #a2a2a2;
          width: 50px; }
        .subscribe .carousel__describe__arrows-right {
          color: #a2a2a2;
          width: 50px; }
      .subscribe .carousel__hours {
        color: #848e97;
        font-size: 16px;
        margin-top: 24px; } }

@media screen and (min-width: 480px) {
  .subscribe {
    max-width: 1200px;
    height: 50.7rem;
    background-color: white;
    height: 47.5rem; }
    .subscribe .hide_man {
      display: none; }
    .subscribe .about__men {
      margin-bottom: 60px; }
    .subscribe__container {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding: 0px 10px;
      font-family: "Montserrat", sans-serif; }
      .subscribe__container * {
        margin: 0px; }
      .subscribe__container .block__buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap; }
        .subscribe__container .block__buttons .button__count {
          display: flex;
          flex-direction: column;
          text-align: center; }
          .subscribe__container .block__buttons .button__count .button__git {
            margin: 0px 20px;
            background-color: #f3f3f3;
            color: #000000; }
            .subscribe__container .block__buttons .button__count .button__git-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__git-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__git:hover {
            background-color: #2b414d;
            color: #f3f3f3; }
          .subscribe__container .block__buttons .button__count .button__twitter {
            margin: 0px 20px;
            background-color: #26a6d1;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__twitter-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__twitter-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__twitter:hover {
            background-color: #ffffff;
            color: #26a6d1;
            border: 1px solid #26a6d1; }
          .subscribe__container .block__buttons .button__count .button__facebook {
            margin: 0px 20px;
            background-color: #3b5998;
            color: #ffffff; }
            .subscribe__container .block__buttons .button__count .button__facebook-logo {
              width: 20px;
              height: 20px;
              position: absolute;
              left: 23px; }
            .subscribe__container .block__buttons .button__count .button__facebook-text {
              font-size: 21px;
              display: inline-block; }
          .subscribe__container .block__buttons .button__count .button__facebook:hover {
            margin: 0px 20px;
            background-color: #ffffff;
            color: #3b5998;
            border: 1px solid #3b5998; }
          .subscribe__container .block__buttons .button__count-people {
            font-family: "Montserrat";
            color: #848e97;
            font-size: 14px;
            margin: 18px 0px 28px; }
    .subscribe .carousel {
      width: 96%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: "Montserrat", sans-serif; }
      .subscribe .carousel .user__data {
        display: flex;
        flex-direction: column;
        font-family: "Montserrat", sans-serif;
        align-items: center;
        margin: 64px 0px 20px; }
        .subscribe .carousel .user__data__person {
          width: 87px;
          height: 87px;
          border-radius: 50%;
          border: 1px solid red;
          margin-bottom: 1.2rem; }
        .subscribe .carousel .user__data__full__person-name {
          font-family: "Montserrat";
          font-size: 24px;
          font-weight: 700;
          color: #474747;
          margin-bottom: 12px; }
        .subscribe .carousel .user__data__full__nickName {
          font-family: "Montserrat";
          font-size: 16px;
          color: #8d81ac; }
      .subscribe .carousel__describe {
        display: flex;
        align-items: baseline; }
        .subscribe .carousel__describe__about {
          color: #333333;
          font-family: "Lato";
          font-size: 17px; }
          .subscribe .carousel__describe__about-mail {
            color: #8d81ac; }
        .subscribe .carousel__describe__arrows-left {
          color: #a2a2a2;
          width: 50px; }
        .subscribe .carousel__describe__arrows-right {
          color: #a2a2a2;
          width: 50px; }
      .subscribe .carousel__hours {
        color: #848e97;
        font-size: 16px;
        margin-top: 24px; }
    .subscribe .carousel .user__data {
      flex-direction: row;
      justify-content: center;
      margin: 120px 0px 40px; }
      .subscribe .carousel .user__data__person {
        margin-bottom: 0px; }
      .subscribe .carousel .user__data__full {
        flex-direction: column;
        margin-left: 20px;
        text-align: left; }
        .subscribe .carousel .user__data__full__person-name {
          margin-bottom: 2px; }
    .subscribe .carousel__describe {
      align-items: center; } }

@media screen and (min-width: 768px) {
  .subscribe {
    height: 40.3rem; }
    .subscribe .carousel .user__data {
      margin: 50px 0px; }
    .subscribe .carousel__hours {
      padding-bottom: 20px;
      border-bottom: 1px solid rgba(199, 199, 199, 0.2); } }

@media screen and (min-width: 1200px) {
  .subscribe {
    height: 36.8rem; }
    .subscribe .carousel .user__data {
      margin: 85px 0px 50px; }
    .subscribe .carousel__describe__about {
      font-size: 20px; }
    .subscribe .carousel__hours {
      padding-bottom: 60px; } }
