$purpl:#8d81ac;

@mixin btn-purple($width, $hight) {
    font-family: "Montserrat", sans-serif;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    width: $width;
    height: $hight;
    background: #8F80A9;
    border-radius: 20px;
}

#eye {
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}

#disapp-btn {

    visibility: hidden;
}

$font: "Montserrat",
sans-serif;

.open {
    margin-bottom: 20px;
}

.global {
    margin: 0;
    padding: 0;

}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;

    &__hat-mobile {

        height: 103px;
        background: #262626;
        padding: 0px 10px 0px 10px;
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 103px;

        &__menu-hd {

            position: absolute;
            margin: 84px auto 0px auto;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100vw;

            &__align {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 60vw;

                &__menu-item {
                    text-decoration: none;

                    &__link {
                        font-family: "Montserrat", sans-serif;
                        color: #8d81ac;
                        font-size: 16px;
                        /* Приближение из-за подстановки шрифтов */
                        font-weight: 700;

                    }
                }

            }
        }

        &__logo {


            align-items: center;
            display: flex;

            &__logo-img {
                background-image: url("../../src/img/logo-pen.png");
                width: 43px;
                height: 41px;
            }

            &__logo-txt {
                margin-left: 12px;
                font-family: "Lato", sans-serif;
                color: #8d81ac;
                font-size: 24px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 700;
                line-height: 16px;
                /* Приближение из-за подстановки шрифтов */
                text-align: left;
                display: none;
                text-transform: uppercase;
            }

        }

        &__btn-buy-now {
            @include btn-purple(119px, 37px)
        }

        &__menu-hd {
            visibility: hidden;
            ;
        }

        &__link {
            text-decoration: none;
            background: #8F80A9;
            text-transform: capitalize;
            font-family: "Montserrat", sans-serif;
            color: #ffffff;
            font-size: 32px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            padding-left: 33px;
            text-align: left;
            height: 96px;
        }

        &__menu-hamburger {
            &__appeare {
                margin-top: 25px;
                text-decoration: none;
                width: 100vw;
                position: absolute;
                left: 0;
                display: none;

                .header__a__link {

                    text-decoration: none;
                }

                &__link {
                    text-decoration: none;
                    background: #313131;
                    text-transform: capitalize;
                    font-family: "Montserrat", sans-serif;
                    color: #ffffff;
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid #373737;
                    font-size: 32px;
                    /* Приближение из-за подстановки шрифтов */
                    font-weight: 400;
                    padding-left: 33px;
                    text-align: left;
                    height: 96px;
                }

                &__link:hover {
                    color: #8d81ac;
                    border-right: 5px solid #8d81ac;
                }
            }

            &__icon {
                -webkit-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
                -webkit-transition: .5s ease-in-out;
                -moz-transition: .5s ease-in-out;
                -o-transition: .5s ease-in-out;
                transition: .5s ease-in-out;
                cursor: pointer;
                position: relative;
                width: 26px;
                height: 21px;

                &__line {
                    display: block;
                    position: absolute;
                    height: 9px;
                    width: 100%;
                    background: white;
                    border-radius: 9px;
                    opacity: 1;
                    left: 0;
                    -webkit-transform: rotate(0deg);
                    -moz-transform: rotate(0deg);
                    -o-transform: rotate(0deg);
                    transform: rotate(0deg);
                    -webkit-transition: .25s ease-in-out;
                    -moz-transition: .25s ease-in-out;
                    -o-transition: .25s ease-in-out;
                    transition: .25s ease-in-out;
                    height: 3px;


                }

                &__line:nth-child(1) {
                    top: 0px;
                }

                &__line:nth-child(2) {
                    top: 10px;
                }

                &__line:nth-child(3) {
                    top: 20px;

                }

                &.open &__line:nth-child(1) {
                    top: 18px;
                    -webkit-transform: rotate(135deg);
                    -moz-transform: rotate(135deg);
                    -o-transform: rotate(135deg);
                    transform: rotate(135deg);
                }

                &.open &__line:nth-child(2) {
                    opacity: 0;
                    left: -60px;
                }

                &.open &__line:nth-child(3) {
                    top: 18px;
                    -webkit-transform: rotate(-135deg);
                    -moz-transform: rotate(-135deg);
                    -o-transform: rotate(-135deg);
                    transform: rotate(-135deg);
                }
            }

            &__appeare {
                &__link {}
            }
        }
    }

    &__intro-title {
        background-size: cover;
        left: 1%;
        right: 0%;
        background-position: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 103px;
        height: 615px;
        background-position: center;
        background-image: url('../../src/img/main-bg.jpg');
        background-repeat: no-repeat;

        &__title {

            font-family: $font;
            color: #ffffff;
            font-size: 48px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 700;
            text-align: center;
        }

        &__note-undertitle-block {
            display: flex;
            flex-direction: column;
            justify-content: center;

            &__note-undertitle {
                text-transform: capitalize;
                font-family: $font;
                color: #8d81ac;
                font-size: 18.01px;
                /* Приближение из-за подстановки шрифтов */
                font-weight: 400;
                line-height: 25px;
                /* Приближение из-за подстановки шрифтов */
                text-align: center;
            }

            &__note-undertitle:nth-child(2) {
                margin-top: 20px;
            }

            &__note-undertitle:nth-child(3) {
                margin-top: 5px;
            }
        }

        &__note-v-of-forkio {
            margin-top: 10px;
            text-transform: uppercase;
            font-family: $font;
            color: #848e97;
            font-size: 14px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;
            /* Приближение из-за подстановки шрифтов */
            text-align: center;
        }

        &__btn-buy-now {
            margin: auto;
            @include btn-purple(290px, 45px);
            padding-top: 15px;
            padding-bottom: 15px;
            text-transform: capitalize;
            margin-top: 480px;
        }

        &__note-unlimited {
            text-transform: capitalize;
            font-family: "Montserrat", sans-serif;
            margin-top: 13px;
            color:
                #848e97;
            font-size: 14px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 400;
            line-height: 15px;
            /* Приближение из-за подстановки шрифтов */
            text-align: center;
        }
    }
}

.revolutionary-editor {
    margin-top: 121px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0px 25px 0px 25px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;

        &__title-item {
            line-height: 2;
            font-family: "Montserrat", sans-serif;
            color:
                #635c73;
            font-size: 26px;
            /* Приближение из-за подстановки шрифтов */
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }
    }

    &__description {
        font-family: "Lato", sans-serif;
        color:
            #323232;
        font-size: 14px;
        /* Приближение из-за подстановки шрифтов */
        font-weight: 400;
        line-height: 14.673px;
        /* Приближение из-за подстановки шрифтов */
        text-align: center;


    }

    &__three-btns-block {

        width: 81vw;
        margin: 35px auto auto auto;

        &__btn {

            display: flex;
            height: 27px;

            &__icon-and-txt {
                font-weight: 700;
                border-color: rgba(27, 31, 35, .35);
                border-radius: 3px;
                padding: 0px 10px 0px 10px;
                text-transform: capitalize;
                width: 60px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                border-color: rgba(27, 31, 35, .35);
                background-color: #e6ebf1;
                font-size: 12px;
                font-family: $font;
                border: 1px solid rgba(27, 31, 35, .2);
                border-right: none;
            }

            &__icon-and-txt:nth-child(1) {
                width: 80px;
            }

            &__number {

                border-left: none;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 45px;
                background-color: #fff;
                border: 1px solid rgba(27, 31, 35, .2);
                border-radius: 3px;
                font-size: 12px;
                font-weight: 600;
                font-family: $font;
            }
        }
    }


}

.revolutionary-editor__three-btns-block_line1 {
    display: flex;
    justify-content: space-between;
}

.revolutionary-editor__three-btns-block_line2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media (min-width: 480px)and(max-width:768px) {
    .revolutionary-editor__three-btns-block_line2 {
        display: none;
    }

    #disapp-btn {
        visibility: visible;
    }

    .header__hat-mobile__btn-buy-now {
        margin-right: 12px;
    }

    .header__hat-mobile__logo__logo-txt {
        display: block;
    }

    .header__intro-title {
        &__title {
            font-size: 54px;
        }

        &__note-undertitle {
            font-size: 20px;
        }

        &__note-undertitle:nth-child(2) {
            margin-top: 35px;
        }

        &__note-v-of-forkio {
            font-size: 16px;
        }

        &__btn-buy-now {
            background-color: #8d81ac;
            width: 390px;
            height: 62px;
            font-size: 21px;
        }


    }

    .revolutionary-editor {
        &__title {
            font-size: 42px;
        }

        &__description {
            font-size: 16px;
        }
    }
}

@media (min-width:768px)and(max-width:1200px) {
    .header__hat-mobile {
        height: 118px;

    }

    .header__hat-mobile__menu-hamburger {
        display: none;
    }

    .header__hat-mobile__menu-hd {
        visibility: visible;

    }

    .revolutionary-editor__title {
        flex-direction: row;
    }

    .revolutionary-editor__title__title-item:nth-child(1) {
        margin-right: 10px;
    }

    .header__intro-title {
        &__titel {
            font-size: 72px;
        }

        &__note-undertitle {
            font-size: 24px;
        }

        &__note-v-of-forkio {
            font-size: 14px;
        }

        &__btn-buy-now {
            width: 390px;
            height: 62px;
            margin-top: 530px;
            font-size: 21px;
        }

    }

    .header__intro-title__note-undertitle-block {
        flex-direction: row;
    }

    .header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
        margin-left: 10px;
        margin-top: 0;
    }

    .revolutionary-editor {
        &__title {
            &__title-item {
                font-size: 42px;
            }
        }

        &__description {
            line-height: 23.476px;
            font-size: 21px;
        }
    }

    .revolutionary-editor__three-btns-block_line2 {
        display: none;
    }

    #disapp-btn {
        visibility: visible;
    }
}

@media (min-width: 1200px) {
    .revolutionary-editor__three-btns-block_line2 {
        display: none;
    }

    .header__intro-title__btn-buy-now {
        width: 390px;
        font-size: 21.01px;
    }

    .revolutionary-editor__description {
        font-size: 21px;
        width: 75vw;
        display: flex;
        justify-content: center;
        margin: auto;
        line-height: 23.476px;
    }

    .header__hat-mobile__btn-buy-nowХ {
        width: 145px;
        font-size: 16px;
        height: 38px;
    }

    .header__hat-mobile__menu-hamburger {
        display: none;
    }

    .header__hat-mobile__menu-hd {
        visibility: visible;
        margin-top: 0;
    }

    .header__hat-mobile__logo__logo-txt {
        display: block;
        visibility: visible;
    }

    .header__hat-mobile {
        padding: 0px 90px 0px 90px;
    }

    .header__hat-mobile__menu-hd__align {
        width: 35vw;
    }

    .header__intro-title {
        &__title {
            font-size: 82px;

        }

        &__note-undertitle-block {
            flex-direction: row;

            &__note-undertitle {
                font-size: 30px;
            }
        }

        &__note-v-of-forkio {
            margin-top: 18px;
        }

    }

    #disapp-btn {

        visibility: visible;
    }

    .revolutionary-editor__three-btns-block_line1 {
        width: 500px;
        margin: auto;
    }

    .revolutionary-editor {
        &__note-undertitle-block__note-undertitle {
            font-size: 54px;
        }

        &__description {
            font-style: 21px;
        }
    }

    .revolutionary-editor__title__title-item {
        font-size: 54px;

    }

    .revolutionary-editor__title__title-item:nth-child(2) {
        margin-left: 10px;
    }
}

.header__intro-title__note-undertitle-block__note-undertitle:nth-child(2) {
    margin-top: 0;
    margin-left: 10px;

}

.revolutionary-editor__title {
    flex-direction: row;
}




//From Vlad
* {
    transition: all .2s;
}

@mixin images {
    //    padding: 0px 10px;
    float: left;
    display: inline-block;
}

@mixin discripsion {
    //    width: 100%;
    font-size: 42px;
    line-height: 57px;
    margin: 2.3rem 0rem 1.3rem;
}

@mixin display {
    //    height: 95.6rem;
    background-color: rgb(244, 244, 244);

    &__container {
        padding: 0px 10px;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;

        .descripsion {
            font-family: "Montserrat";
            text-align: center;
            color: $purpl;
            font-size: 32px;
            font-weight: 700;
            margin-top: 1.9rem;
        }

        .discripsion__long {
            margin: 1.9rem 10px 0px 10px;
            text-align: center;

            &__text {

                &-m {
                    font-family: "Montserrat";
                    font-size: 16px;
                    color: #323232;
                    margin-top: 1.6rem;
                    margin-bottom: 0.8rem;
                }

                &-s {
                    font-family: "Lato";
                    font-size: 14px;
                    color: #848e97;
                    line-height: 21px;
                }
            }


        }

        &-editor {
            background-image: url("/build/img/editor.svg");
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;
            width: 100vw;
            height: 23rem;
            margin-top: 55px;
        }

    }
}

@media screen and (min-width:320px) {

    .opportunitys {
        @include display;
    }
}

@media screen and (min-width:480px) {

    .opportunitys {
        @include display;

        //        height: 85rem;

        &__container {

            .descripsion {
                @include discripsion;

            }

            .discripsion__long {
                margin-top: 2.8rem;

                &__img-created {
                    @include images;
                    margin-left: 7px;
                }

                &__img-incred {
                    @include images;
                    margin-left: 7px;
                }

                &__img-expr {
                    @include images;
                    margin-left: 24px;
                }

                &__img-created2 {
                    @include images;
                    margin-left: 16px;
                }

                &__text {
                    text-align: left;
                    margin: 0px 20px 0px 150px;


                    &-m {
                        margin-top: 0px;
                    }

                    &-s {
                        line-height: 22px;
                    }
                }


            }

            &-editor {
                background-image: url("/build/img/editor%20(1).svg");
                background-size: contain;
                height: 32.4rem;
                margin-top: 2.2rem;
            }
        }
    }
}

@media screen and (min-width:768px) {

    .opportunitys {
        @include display;

        height: 78.7rem;

        &__container {

            .descripsion {
                @include discripsion;
                margin: 2.9rem 0rem 0.1rem;
            }

            .discripsion__long {
                margin-top: 3.2rem;

                &__img-created {
                    @include images;
                    margin-left: 0.7rem;
                }

                &__img-incred {
                    @include images;
                    margin-left: 0.7rem;
                }

                &__img-expr {
                    @include images;
                    margin-left: 1.75rem;
                }

                &__img-created2 {
                    @include images;
                    margin-left: 1.25rem;
                }

                &__text {
                    text-align: left;
                    margin: 0rem 1.55rem 0rem 10rem;


                    &-m {
                        margin-top: 0rem;
                    }

                    &-s {
                        font-family: "Montserrat";
                        font-weight: 400;
                        line-height: 22px;
                    }
                }


            }

            &-editor {
                background-image: url("/build/img/editor%20(2).svg");
                height: 32.4rem;
                margin-top: 2.9rem;
            }
        }

    }
}

@media screen and (min-width:1200px) {

    .opportunitys {
        @include display;
        height: 44.4rem;

        &__container {
            max-width: 1200px;
            width: 100%;
            padding-top: 3.5rem;
            align-items: flex-start;
            position: relative;

            .descripsion {
                @include discripsion;
                width: 45%;
                position: absolute;
                right: 0px;
                margin: 0rem 0rem 0.1rem;
                line-height: 65px;
            }

            .discripsion__long {
                width: 45%;
                margin: 27px 0px 0px 0px;


                &__img-created {
                    @include images;
                    margin-left: 0px;
                }

                &__img-incred {
                    @include images;
                    margin-left: 9px;
                }

                &__img-expr {
                    @include images;
                    margin-left: 24px;
                }

                &__img-created2 {
                    @include images;
                    margin-left: 17px;
                }

                &__text {
                    text-align: left;
                    margin: 0px 0px 0px 135px;
                    width: 360px;


                    &-m {
                        margin: 0px 0px 0.6rem;
                    }

                    &-s {}
                }


            }

            &-editor {
                background-image: url("/build/img/editor%20(2).svg");
                height: 32.4rem;
                width: 50%;
                margin-top: 75px;
                position: absolute;
                top: 0px;
                right: 10px;

            }
        }

    }
}



//Subscribe

.logo__subscribe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 50px;
    border-radius: 5px;
    position: relative;
    border-style: none;
}

@mixin logoNet {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 23px;
}

@mixin textNet {
    font-size: 21px;
    display: inline-block;
}



@mixin subscribe {
    background-color: rgb(255, 255, 255);


    &__container {
        margin: auto;
        max-width: 1200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 0px 10px;
        font-family: "Montserrat", sans-serif;




    }


    .block__buttons {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .button__count {
            display: flex;
            flex-direction: column;
            text-align: center;

            .button__git {
                margin: 0px 20px;

                background-color: #f3f3f3;
                color: #000000;

                &-logo {
                    @include logoNet;
                }

                &-text {
                    @include textNet;
                }
            }

            .button__git:hover {
                background-color: #2b414d;
                color: #f3f3f3;
            }

            .button__twitter {
                margin: 0px 20px;
                background-color: #26a6d1;
                color: #ffffff;

                &-logo {
                    @include logoNet;
                }

                &-text {
                    @include textNet;
                }
            }

            .button__twitter:hover {
                background-color: #ffffff;
                color: #26a6d1;
                border: 1px solid #26a6d1;
            }

            .button__facebook {
                margin: 0px 20px;
                background-color: #3b5998;
                color: #ffffff;

                &-logo {
                    @include logoNet;
                }

                &-text {
                    @include textNet;
                }
            }

            .button__facebook:hover {
                margin: 0px 20px;
                background-color: #ffffff;
                color: #3b5998;
                border: 1px solid #3b5998;

            }


            &-people {
                font-family: "Montserrat";
                color: #848e97;
                font-size: 14px;
                margin: 16px 0px 28px;
            }

            &__people-subscribe {
                font-family: "Montserrat";
                color: #848e97;
                font-size: 14px;
                margin: 16px 0px 67px;
            }
        }
    }

    .hide_man {
        display: none;
    }

    .about__men {
        margin-bottom: 35px;
    }




    .carousel {
        margin: auto;
        width: 96%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Montserrat", sans-serif;


        .user__data {
            display: flex;
            flex-direction: column;
            font-family: "Montserrat", sans-serif;
            align-items: center;
            margin: 65px 0px 19px;

            &__person {
                width: 87px;
                height: 87px;
                border-radius: 50%;
                border: 1px solid red;
                margin-bottom: 25px;
            }

            &__full {
                &__person-name {
                    font-family: "Montserrat";
                    font-size: 24px;
                    font-weight: 700;
                    color: #474747;
                    margin-bottom: 4px;

                }

                &__nickName {
                    font-family: "Montserrat";
                    font-size: 16px;
                    color: $purpl;
                }
            }
        }

        &__describe {
            width: 280px;
            display: flex;
            align-items: baseline;
            justify-content: space-between;

            &__about {
                color: #333333;
                font-family: "Lato";
                font-size: 16px;
                width: 205px;


                &-mail {
                    color: $purpl;

                }
            }

            &__arrows-left {
                width: 9px;
                height: 15px;
            }

            &__arrows-right {
                width: 9px;
                height: 15px;
            }
        }

        &__hours {
            color: #848e97;
            font-size: 16px;
            margin-top: 15px;
        }
    }



}


@media screen and (min-width:320px) {
    .subscribe {
        @include subscribe;
    }
}

@media screen and (min-width:480px) {
    .subscribe {

        .about__men {
            margin-bottom: 60px;
        }

        .block__buttons {
            margin: auto;
            width: 290px;

            .button__count {

                &__people-subscribe {

                    margin: 16px 0px 60px;
                }
            }
        }


        .carousel {
            .user__data {
                flex-direction: row;
                justify-content: center;
                margin: 120px 0px 40px;

                &__person {
                    margin-bottom: 0px;
                }

                &__full {
                    flex-direction: column;
                    margin-left: 20px;
                    text-align: left;

                    &__person-name {
                        margin-bottom: 2px;
                    }

                    &__nickName {}
                }

            }

            &__describe {
                width: 430px;

                &__about {
                    width: 325px;

                }
            }

        }

    }

}




@media screen and (min-width:768px) {

    .subscribe {


        .block__buttons {
            margin: auto;
            width: 700px;

            .button__count {

                &__people-subscribe {

                    margin: 16px 0px 60px;
                }
            }
        }

        .carousel {
            .user__data {

                margin: 50px 0px;

            }

            &__describe {
                align-items: baseline;
                width: 697px;

                &__about {
                    font-size: 20px;
                    width: 550px;
                }
            }

            &__hours {
                padding-bottom: 20px;
                border-bottom: 1px solid rgba(199, 199, 199, 0.2);
            }
        }
    }

}



@media screen and (min-width:1200px) {
    .subscribe {


        .block__buttons {
            width: auto;

            .button__count {

                &-people {
                    margin: 16px 0px 77px;
                }

                &__people-subscribe {
                    margin: 16px 0px 77px;
                }
            }
        }

        .carousel {
            .user__data {
                margin: 87px 0px 49px;
            }

            &__hours {
                padding-bottom: 60px;
            }

            &__describe {
                width: 945px;

                &__about {
                    width: 735px;

                }
            }
        }
    }
}




@media screen and (min-width:320px) {
    .inputs {
        background-color: #f4f4f4;


        &__content {
            display: flex;
            flex-direction: column;
            margin: auto;
            max-width: 1200px;
            text-align: center;
            padding: 0px 10px;
            font-family: "Montserrat", sans-serif;
            align-items: center;

            &__descripsion-till767px {
                font-family: "Montserrat";
                color: #323232;
                font-size: 24px;
                font-weight: 700;
                margin: 30px 0px 35px;
                width: 225px;
            }

            &__descripsion-from768px {
                display: none;
                font-family: "Montserrat";
                color: #635c73;
                font-size: 30px;
                font-weight: 700;
                margin: 30px 0px 35px;
            }

            &__form {
                flex-direction: column;
                display: flex;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;


                &__name {
                    border-style: none;
                    border-radius: 21px;
                    background-color: #ffffff;
                    width: 265px;
                    height: 2.6rem;
                    font-family: "Montserrat", sans-serif;
                    color: #c8cbcf;
                    font-size: 14px;
                    margin-bottom: 16px;
                    padding-left: 25px;
                }

                &__phone {
                    border-style: none;
                    border-radius: 21px;
                    background-color: #ffffff;
                    width: 265px;
                    height: 2.6rem;
                    font-family: "Montserrat", sans-serif;
                    color: #c8cbcf;
                    font-size: 14px;
                    margin-bottom: 20px;
                    padding-left: 25px;
                }


                &__button-text-subscribe {
                    border-style: none;
                    border-radius: 21px;
                    background-color: #8d81ac;
                    width: 140px;
                    height: 2.6rem;
                    font-family: "Montserrat", sans-serif;
                    font-size: 13px;
                    color: #ffffff;
                    margin-bottom: 43px;
                }

                &__button-text-callme {
                    display: none;
                    border-style: none;
                    border-radius: 21px;
                    background-color: #8d81ac;
                    width: 140px;
                    height: 2.6rem;
                    font-family: "Montserrat", sans-serif;
                    font-size: 13px;
                    color: #ffffff;
                }
                
                &__button-text-callme:hover {
                    background-color: #fff;
                    color: #8d81ac;
                    border: 1px solid #8d81ac;
                }
            }



        }

    }


}



@media screen and (min-width:480px) {

    .inputs {


        &__content {


            &__descripsion-till767px {
                margin: 50px 0px 50px;
                font-size: 28px;
                width: 100%;
            }

            &__form {
                &__button-text-subscribe {

                    margin-bottom: 50px;
                }

            }

        }
    }
}

@media screen and (min-width:768px) {

    .inputs {


        &__content {


            &__descripsion-till767px {
                display: none;

            }

            &__descripsion-from768px {
                display: block;
                margin: 25px 0px 30px;
            }

            &__form {
                flex-direction: row;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                width: 710px;

                &__name {
                    width: 305px;
                    padding-left: 30px;
                    margin-bottom: 26px;
                }

                &__phone {
                    margin-left: 35px;
                    width: 305px;
                    padding-left: 30px;
                    margin-bottom: 26px;
                }


                &__button-text-subscribe {
                    display: none;

                }

                &__button-text-callme {
                    display: block;
                    margin-left: 0px;
                    margin-bottom: 30px;
                }
            }


        }
    }

}


@media screen and (min-width:1200px) {
    .inputs {
        height: 8.37rem;

        &__content {
            height: 8.37rem;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__descripsion-from768px {
                display: block;
                margin: 25px 0px 25px;
            }

            &__form {
                width: auto;

                &__name {
                    margin-bottom: 0px;
                }

                &__phone {
                    margin: 0px 16px;

                }


                &__button-text-subscribe {
                    display: none;

                }

                &__button-text-callme {
                    display: block;
                    margin: 0px;
                }
            }


        }
    }


}

@mixin heading {
    color: #323232;
    font-size: 16px;
    font-weight: 400;
}

@mixin textUnder {
    color: #848e97;
    font-size: 14px;
}

@media screen and (min-width:320px) {
    .footer {
        font-family: "Montserrat", sans-serif;
        display: flex;
        flex-direction: column;

    }


    .footer__conteiner {
        padding: 35px 10px 0px 10px;
    }

    .forkio {

        margin-bottom: 35px;


        &__logo__heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 24px;
            color: #333333;
            hight: 43px;
            margin-bottom: 25px;
            padding-left: 10px;
            cursor: pointer;


            &-pen {
                display: none;
                padding-right: 18px;
            }

            &-pen2 {
                padding-right: 18px;
                display: none;

            }


            &-colore {
                color: #8d81ac;
            }
        }



        &__description-text {
            padding-left: 10px;
            @include textUnder;
            line-height: 23px;
            width: 260px;

        }
    }

    .forkio__logo__heading:hover {
        color: #8d81ac;
    }

    .forkio__logo__heading:hover .forkio__logo__heading-colore {
        color: #333333;
    }

    .forkio__logo__heading:hover .forkio__logo__heading-pen {
        display: none;
    }

    .forkio__logo__heading:hover .forkio__logo__heading-pen2 {
        display: block;
    }



    .navigation {
        width: 250px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin-bottom: 36px;
        padding-left: 10px;


        &__heading {
            @include heading;
            margin-bottom: 15px;
        }

        &__anchor {
            position: relative;
            text-decoration: none;
            color: #8d81ac;
            font-size: 15px;
            line-height: 23px;
            align-self: flex-start;
        }

        &__anchor:hover::before {
            content: "";
            position: absolute;
            top: 21px;
            width: 100%;
            border-bottom: 1px solid #8d81ac;
        }

    }

    .concat__location {
        display: flex;
        flex-direction: column;
    }

    .contact {
        margin-bottom: 36px;
        width: 250px;
        padding-left: 10px;


        &__phone {
            line-height: 22px;
            text-decoration: none;
            color: #31384d;
            font-size: 30px;
            font-weight: 700;
        }

        &__availble {
            color: #848e97;
            font-size: 12px;
            margin-top: 13px;
        }
    }

    .location {
        width: 250px;
        margin-bottom: 31px;
        padding-left: 10px;

        &-city {
            @include heading;
            margin-bottom: 12px;
        }

        &-region {
            @include textUnder;
            line-height: 24px;
        }
    }

    .info {
        width: 250px;
        margin-bottom: 50px;
        padding-left: 10px;

        &__heading {
            @include heading;
            margin-bottom: 17px;
        }

        &__text {
            line-height: 23px;
            @include textUnder;

        }

    }


}

@media screen and (min-width:480px) {

    .footer__conteiner {
        padding: 28px 10px 0px 10px;

    }

    .forkio {

        margin-bottom: 35px;

        &__logo__heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 24px;
            color: #333333;
            hight: 41px;
            margin-bottom: 11px;
            padding: 0px 0px 10px 25px;
            border-bottom: 1px solid rgba(199, 199, 199, 0.2);

            &-pen {
                display: block;
            }

            &-color {}
        }

        &__description-text {
            padding-left: 25px;
            @include textUnder;

        }
    }



    .navigation {
        padding-left: 25px;
        width: 415px;
    }

    .contact {
        padding-left: 25px;
        width: 415px;
    }

    .location {
        padding-left: 25px;
        width: 305px;

        &-region {
            width: 220px;
        }
    }

    .info {
        padding-left: 25px;
        width: 415px;

    }
}



@media screen and (min-width:768px) {

    .footer {
        flex-wrap: wrap;
    }

    .footer__conteiner {
        margin: auto;
        padding: 28px 10px 0px 10px;
        display: flex;
        flex-wrap: wrap;
        width: 700px;
        justify-content: space-between;
    }

    .forkio {
        order: 1;
        margin-bottom: 90px;


        &__logo__heading {
            padding-left: 4px;
            border-bottom: none;
            width: 305px;
        }

        &__description-text {
            padding-left: 4px;
            width: 305px;
        }
    }

    .navigation {
        order: 2;
        padding-left: 0px;
        width: 305px;
    }

    .concat__location {
        order: 3;
    }

    .contact {
        padding-left: 4px;
        width: 305px;
    }

    .location {
        padding-left: 4px;
    }

    .info {
        height: 0px;
        order: 4;
        padding-left: 0px;
        width: 305px;
        margin-bottom: 0px;
    }

}


@media screen and (min-width:1200px) {
    .footer {}

    .footer__conteiner {
        padding: 60px 10px 0px 10px;
        flex-wrap: nowrap;
        width: 1200px;
        justify-content: space-between;
    }

    .forkio {
        &__logo__heading {
            padding-left: 0px;
        }

        &__description-text {
            padding-left: 0px;
        }
    }

    .navigation {
        padding-left: 0px;
        width: 150px;

    }

    .contact {
        padding-left: 0px;
        width: 220px;
    }

    .location {
        padding-left: 0px;
        width: 220px;
    }

}
