body {
  background-color: #FF4500; }

.block {
  background-color: #5B3A29; }
  .block h1 {
    color: #FF4500;
    display: flex; }
  .block a {
    color: green; }
  .block p {
    color: purple;
    font-family: fantasy;
    font-size: 70px; }
